name: Custom workflow
on:
  push:
    branches:
      - main
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Load & cache dependencies
              id: cached-deps
              uses: ./.github/actions/cached-deps
              with:
                caching: 'false'
            - name: Output information
              run: |
                echo "Cache used: ${{ steps.cached-deps.outputs.used-cache }}"    
            - name: Run linter
              run: npm run lint
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Load & cache dependencies
              uses: ./.github/actions/cached-deps    
            - name: Run tests
              id: run-tests
              run: npm run test
            - name: Upload test reports
              if: failure() && steps.run-tests.outcome == 'failure'
              uses: actions/upload-artifact@v6
              with:
                name: test-report
                path: test.json
    build:
        runs-on: ubuntu-latest
        needs: test
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Load & cache dependencies
              uses: ./.github/actions/cached-deps
            - name: Run build
              run: npm run build
            - name: Upload build artifacts
              uses: actions/upload-artifact@v6
              with:
                name: build-artifacts
                path: dist
    deploy:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Download build artifacts
              uses: actions/download-artifact@v6
              with:
                name: build-artifacts
                path: ./dist
            - name: Output contents
              run: ls
            - name: Deploy website
              run: echo "Deploying..."
    information:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout code
            uses: actions/checkout@v6
          - name: Run custom action
            run:  ./.github/actions/deploy-s3-javascript/main.js