name: Custom workflow
on:
  push:
    branches:
      - main
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Load & cache dependencies
              id: cached-deps
              uses: ./.github/actions/cached-deps
              with:
                caching: 'false'
            - name: Output information
              run: |
                echo "Cache used: ${{ steps.cached-deps.outputs.used-cache }}"    
            - name: Run linter
              run: npm run lint
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Load & cache dependencies
              uses: ./.github/actions/cached-deps    
            - name: Run tests
              id: run-tests
              run: npm run test
            - name: Upload test reports
              if: failure() && steps.run-tests.outcome == 'failure'
              uses: actions/upload-artifact@v6
              with:
                name: test-report
                path: test.json
    build:
        runs-on: ubuntu-latest
        needs: test
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Load & cache dependencies
              uses: ./.github/actions/cached-deps
            - name: Run build
              run: npm run build
            - name: Upload build artifacts
              uses: actions/upload-artifact@v6
              with:
                name: build-artifacts
                path: dist
    deploy:
        permissions: 
          id-token: write
          contents: read
        needs: build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Download build artifacts
              uses: actions/download-artifact@v6
              with:
                name: build-artifacts
                path: ./dist
            - name: Output contents
              run: ls
            - name: Get AWS permissions
              uses: aws-actions/configure-aws-credentials
              with:
                role-to-assume: arn:aws:iam::245162363529:role/GitHubDemo
                aws-region: us-east-1
            - name: Deploy website
              id: deploy
              # uses: ./.github/actions/deploy-s3-javascript
              uses: ./.github/actions/deploy-s3-docker
              # env:
              #   AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
              #   AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
              with:
                bucket: gha-security-hosting-example1
                dist-folder: ./dist
                # bucket-region: us-east-1
            - name: Output website URL
              run: |
                echo "Live URL: ${{ steps.deploy.outputs.website-url }}"
    # information:
    #     runs-on: ubuntu-latest
    #     steps:
    #       - name: Checkout code
    #         uses: actions/checkout@v6
    #       - name: Run custom JavaScript action
    #         uses: ./.github/actions/deploy-s3-javascript