name: Custom workflow
on:
  push:
    branches:
      - main
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Cache dependencies
              id: cache
              uses: actions/cache@v5
              with:
                path: node_modules
                key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
            - name: Install dependencies
              if: steps.cache.outputs.cache-hit != 'true'
              run: npm ci
            - name: Run linter
              run: npm run lint
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Cache dependencies
              id: cache
              uses: actions/cache@v5
              with:
                path: node_modules
                key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
            - name: Install dependencies
              if: steps.cache.outputs.cache-hit != 'true'
              run: npm ci     
            - name: Run tests
              id: run-tests
              run: npm run test
            - name: Upload test reports
              if: failure() && steps.run-tests.outcome == 'failure'
              uses: actions/upload-artifact@v6
              with:
                name: test-report
                path: test.json
    build:
        runs-on: ubuntu-latest
        needs: test
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Cache dependencies
              id: cache
              uses: actions/cache@v5
              with:            
                path: node_modules
                key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
            - name: Install dependencies
              if: steps.cache.outputs.cache-hit != 'true'  
              run: npm ci     
            - name: Run build
              run: npm run build
            - name: Upload build artifacts
              uses: actions/upload-artifact@v6
              with:
                name: build-artifacts
                path: dist
    deploy:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            - name: Download build artifacts
              uses: actions/download-artifact@v6
              with:
                name: build-artifacts
                path: ./dist
            - name: Output contents
              run: ls
            - name: Deploy website
              run: echo "Deploying..."